/*
 * 文件名：
 * 版权：Copyright 2017-2020 517na Tech. Co. Ltd. All Rights Reserved. 
 * 描述： ${className}
 * 修改人：knight
 * 修改时间：${date}
 * 修改内容：新增
 */
package com.yiya.action;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;


import org.apache.log4j.Logger;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.servlet.ModelAndView;


import com.yiya.bean.${className};
import com.yiya.model.${className}Model;
import com.yiya.service.${className}Service;
import com.yiya.utils.ActionUpload;
import com.yiya.utils.ExcelUtil;
import com.yiya.utils.HtmlUtil;
import com.yiya.exception.ServiceException;
/**
 * ${className}.
 * @author knight
 */
@Controller
@RequestMapping("/${lowerName}") 
public class ${className}Action extends BaseAction {
	
	private final static Logger log= Logger.getLogger(MainAction.class);
	private String savePath = "tempfile";
	
	// Servrice start
	@Autowired(required=false) 
	private ${className}Service<${className}> ${lowerName}Service; 
	
	/**
	 * @param url
	 * @param classifyId
	 * @return
	 */
	@RequestMapping("/list") 
	public ModelAndView  list(${className}Model model,HttpServletRequest request) throws Exception{
		Map<String,Object>  context = getRootMap();
		List<${className}> dataList = ${lowerName}Service.queryByList(model);
		//设置页面数据
		context.put("dataList", dataList);
		return forword("kh/${lowerName}",context); 
	}
	
	
	/**
	 * json 列表页面
	 * @param url
	 * @param classifyId
	 * @return
	 * @throws Exception 
	 */
	@RequestMapping("/dataList") 
	public void  dataList(${className}Model model,HttpServletResponse response) throws Exception{
		List<${className}> dataList = ${lowerName}Service.queryByList(model);
		//设置页面数据
		Map<String,Object> jsonMap = new HashMap<String,Object>();
		jsonMap.put("total",model.getPager().getRowCount());
		jsonMap.put("rows", dataList);
		HtmlUtil.writerJson(response, jsonMap);
	}
	
	/**
	 * 添加或修改数据
	 * @param url
	 * @param classifyId
	 * @return
	 * @throws Exception 
	 */
	@RequestMapping("/save")
	public void save(${className} bean,HttpServletResponse response) throws Exception{
		${className} ${lowerName} = ${lowerName}Service.queryById(bean.getId());
		if(bean.getId() == null || bean.getId().equals("")){
			if(${lowerName} != null){
				throw new ServiceException("数据已存在.");
			}
			${lowerName}Service.add(bean);
		}else{
			${lowerName}Service.updateBySelective(bean);
		}
		sendSuccessMessage(response, "保存成功~");
	}
	
	@RequestMapping("/getId")
	public void getId(String id,HttpServletResponse response) throws Exception{
		Map<String,Object>  context = getRootMap();
		${className} bean  = ${lowerName}Service.queryById(id);
		if(bean  == null){
			sendFailureMessage(response, "没有找到对应的记录!");
			return;
		}
		context.put(SUCCESS, true);
		context.put("data", bean);
		HtmlUtil.writerJson(response, context);
	}
	
	@RequestMapping("/delete")
	public void delete(String[] id,HttpServletResponse response) throws Exception{
		${lowerName}Service.delete(id);
		sendSuccessMessage(response, "删除成功");
	}
	
	/**
	 * execl批量导入
	 * @param request
	 * @param response
	 * @throws Exception
	 */
	@RequestMapping("/import")
	public void addbatch(HttpServletRequest request,HttpServletResponse response) throws Exception{
		List<${className}> ${lowerName}list = new ArrayList<${className}>();
		ActionUpload upload = new ActionUpload();
		//1、保存上传文件
		request.setAttribute("type", "${lowerName}");
		String filename = upload.uploadFile(request, savePath);
		//2、读取execl内容封装成对象
		List<ArrayList<String>> llist = new ExcelUtil().read(request.getSession().getServletContext().getRealPath("/")+savePath+"/"+filename);
		${className} ${lowerName};
		for(List<String> model:llist){
			if("".equals(model.get(0)))
				continue;
			${lowerName} = new ${className}();
			${lowerName}.setParamname(model.get(0));
			${lowerName}.setParamnum(model.get(1));
			${lowerName}.setUnit(model.get(2));
			${lowerName}list.add(${lowerName});
		}
		//3、批量插入
		if(${lowerName}list.size()>0){
			${lowerName}Service.insertbatch(${lowerName}list);
			//删除重复的数据
			${lowerName}Service.deleteDouble();
		}
		sendSuccessMessage(response, "导入成功");
	}
	
	/**
	 * 导出导入模板
	 * @param request
	 * @param response
	 * @throws Exception
	 */
	@RequestMapping("/export")
	public void export(HttpServletRequest request,HttpServletResponse response) throws Exception{
		String filepath = request.getSession().getServletContext().getRealPath("/")+"temples/${className}Temple.xls";
		String fileName = "${codeName}导入模板.xls";
		ActionUpload upload = new ActionUpload();
		upload.downFiel(fileName, filepath, response);
	}

}