/*
 * 文件名：
 * 版权：Copyright 2017-2020 517na Tech. Co. Ltd. All Rights Reserved. 
 * 描述： ${className}
 * 修改人：knight
 * 修改时间：${date}
 * 修改内容：新增
 */
package com.yiya.model;

/**
 * ${className}.
 * @author knight
 */
public class ${className}Model extends BaseModel {

${feilds}

}