<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiya.mapper.ZypmdzParamMapper" > 
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.yiya.bean.ZypmdzParam" >
			    	<result column="id" property="id"/>
			    	<result column="chainname" property="chainname"/>
			    	<result column="englishname" property="englishname"/>
			</resultMap>
	       
	<!-- TbcClassify table all fields -->
	<sql id="Base_Column_List" >
		id,chainname,englishname
	</sql>
	   
	   
	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
	where  1=1
	<trim  suffixOverrides="," >
					    	<if test="id != null and id != ''" >
				    and id like CONCAT('%', #{id}, '%')
				</if>
					    	<if test="chainname != null and chainname != ''" >
				    and chainname like CONCAT('%', #{chainname}, '%')
				</if>
					    	<if test="englishname != null and englishname != ''" >
				    and englishname like CONCAT('%', #{englishname}, '%')
				</if>
				</trim>
	</sql>
	   
	
	<!-- 插入记录 -->
	<insert id="add" parameterType="Object" >
	  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID()
	  </selectKey>
		insert into t_zy_zypmdzparam(id,chainname,englishname)
 values(#{id},#{chainname},#{englishname})
	</insert>
	
	<!-- 批量插入 -->
	<insert id="insertbatch" parameterType="java.util.List">
		insert into t_zy_zypmdzparam(chainname,englishname) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.chainname},#{item.englishname})
		</foreach>
	</insert>
	
	<!-- 修改记录-->  
	 <update id="update" parameterType="Object" >
	  	update t_zy_zypmdzparam set chainname=#{chainname},englishname=#{englishname} where id=#{id}
	 </update>
	 
	 <!--修改技术，为null 这不修改 -->
	<update id="updateBySelective" parameterType="Object" >
		update t_zy_zypmdzparam set 
	<trim  suffixOverrides="," >
	<if test="chainname != null  and chainname != '' ">
		chainname=#{chainname},
	</if>
	<if test="englishname != null  and englishname != '' ">
		englishname=#{englishname},
	</if>
	</trim> where id=#{id}
	</update>
	
	<!-- 删除 -->
	<update id="delete" parameterType="Object">
		delete 	 from t_zy_zypmdzparam where id = #{id}
	</update>
	 
	 <!-- 删除品名重复的内容 -->
	<update id="deleteDouble" parameterType="Object">
		delete a.* from
		t_zy_zypmdzparam as a,(SELECT min(t.id) id,t.chainname FROM
		t_zy_zypmdzparam as t GROUP BY t.chainname having count(1) >1) as b
		where a.chainname=b.chainname and a.id != b.id
	</update>
	
	<!-- 分类列表 -->
	<select id="queryById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="Base_Column_List" /> 
	 from t_zy_zypmdzparam where id = #{id}
	</select>
	  	
	<!-- 分类 列表总数-->
	<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from t_zy_zypmdzparam 
		<include refid="Example_Where_Clause"/>
	</select>
	  	
	<!-- 根据id查询分类 -->
	<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
		select 
		<include refid="Base_Column_List"/>
		from t_zy_zypmdzparam 
		<include refid="Example_Where_Clause"/>
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
	      ${pager.orderCondition}
	    </if>
	    ${pager.mysqlQueryCondition}
	</select>
	
	<!-- 根据条件查询 -->
	<select id="queryListByParam" resultMap="BaseResultMap"  parameterType="Object">
		select 
		<include refid="Base_Column_List"/>
		from t_zy_zypmdzparam 
		<include refid="Example_Where_Clause"/>
	</select>
</mapper>   
