<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiya.mapper.KhUserMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.yiya.bean.KhUser" >
	<result column="pkid" property="id"/>
	<result column="userid" property="userid"/>
	<result column="password" property="password"/>
	<result column="username" property="username"/>
	<result column="state" property="state"/>
	<result column="type" property="type"/>
</resultMap>
       
<!-- t_kh_userinfo table all fields -->
<sql id="Base_Column_List" >
	 pkid,userid,password,username,state,type
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null" >
	    and pkid =  #{id}
	</if>
	 	<if test="userid != null and userid != ''" >
	     and userid like CONCAT('%', #{userid}, '%')
	</if>
	 <if test="username != null and username != ''" >
	    and username like CONCAT('%', #{username}, '%')
	</if>
	<if test="state != null" >
	    and state =  #{state}
	</if>
	<if test="type != null and type != ''">
		and type = #{type}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<!--   <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey> -->
  insert into t_kh_userinfo(pkid,userid,password,username,state,type)
 values(#{id},#{userid},#{password},#{username},#{state},#{type})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update t_kh_userinfo set userid=#{userid},password=#{password},username=#{username},state=#{state},type=#{type} where pkid =#{id}
 </update>
 
 <!-- 修改记录，只修改值不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update t_kh_userinfo set 
	<trim  suffixOverrides="," >
	<if test="userid != null  and userid != '' ">
		userid=#{userid},
	</if>
	<if test="password != null  and password != '' ">
		password=#{password},
	</if>
	<if test="username != null  and username != '' ">
		username=#{username},
	</if>
	<if test="state != null  ">
		state=#{state},
	</if>
	<if test="type != null and type != ''">
	    type=#{type},
	</if>
	</trim> where pkid=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from t_kh_userinfo where pkid = #{id}
</delete>
 
<!-- 根据id查询 系统用户 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from t_kh_userinfo where pkid = #{id}
</select>

<!-- 系统用户 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from t_kh_userinfo 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询系统用户列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from t_kh_userinfo
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
